.add
{
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    font-size: 16px;
}

.add form
{
    gap: 20px;
}

.add-img-upload
{
    width: 120px;
}

.add-img-upload img
{
    width: 120px;
    background-color: rgb(223, 223, 223);
    cursor: pointer;
}

.add-product-name, .add-product-description
{
    width: max(40px, 280px);
}

.add-product-name input, .add-product-description textarea
{
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.add-category-price
{
    display: flex;
    gap: 30px;
}

.add-category-price select, .add-category-price input
{
    max-width: 120px;
    padding: 10px
}

.add-btn
{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;

}
