@font-face {
    font-family: 'Panton';
    src: url('../../assets/fonts/Panton-BlackCaps.otf');
}

.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 150px;
    cursor: pointer;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: rgb(248, 145, 40);
    font-size: 18px;
    font-family: 'Panton';
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-right img {
    width: 30px;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: black;
    border: 1px solid black;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: .3s;
    background-color: rgb(248, 145, 40);
    font-family: 'Panton';
}

.navbar button:hover {
    scale: 1.05;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(248, 145, 40);
}

.navbar li {
    cursor: pointer;
}

.navbar-search-icon {
    position: relative;
}

.navbar-right img {
    min-width: 70px;
}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 15px;
    min-height: 15px;
    border-radius: 7px;
    top: -2px;
    right: -2px;
    background-color: red;
}

.navbar-profile
{
    position: relative;
}

.nav-profile-dropdown
{
    position: absolute;
    display:none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: gray;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid rgb(248, 145, 40);
    outline: 2px solid white;
    list-style: none;
    color: rgb(248, 145, 40);
    font-family: 'Panton';
}

.nav-profile-dropdown li
{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile-dropdown img
{
    width: 20px;
}

.nav-profile-dropdown li:hover
{
    color: rgb(252, 178, 103);
}

@media (max-width: 1050px) {
    .navbar .logo {
        width: 140px;
    }
    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right {
        gap: 6px;
    }
    .navbar-right img {
        width: 25px; 
    }
    .navbar-right button {
        padding: 8px 25px;
    }
}

@media (max-width: 900px) {
    .navbar .logo {
        width: 120px;
    }
    .navbar-menu {
        gap: 10px;
        font-size: 16px;
        margin-right: 10px;
    }
    .navbar-right {
        gap: 2px;
    }
    .navbar-right img {
        width: 20px; 
    }
    .navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width: 750px) {
    .navbar-menu {
        display: none;
    }
    .navbar-right {
        gap: 5px; 
    }
    .navbar-right img {
        width: 20px; 
    }
    .navbar-right button {
        padding: 6px 15px; 
        font-size: 14px; 
    }
    .navbar .logo {
        width: 100px; 
    }
}
